@if (character()) {
  <div class="details">
    <img [src]="character()!.image" [alt]="character()!.name" />
    <div class="info">
      <h2>{{ character()!.name }}</h2>
      <p><strong>House:</strong> {{ character()!.house || 'Unknown' }}</p>
      <p><strong>Actor:</strong> {{ character()!.actor }}</p>
      <p><strong>Wizard:</strong> {{ character()!.wizard }}</p>
      <p><strong>Species:</strong> {{ character()!.species }}</p>
      <p><strong>Ancestry:</strong> {{ character()!.ancestry }}</p>
      <p><strong>Wand Wood:</strong> {{ character()!.wand.wood || 'Unknown' }}</p>
      <p><strong>Wand Core:</strong> {{ character()!.wand.core || 'Unknown' }}</p>
      <p><strong>Wand Length:</strong> {{ character()!.wand.length || 'Unknown' }}</p>
    </div>
  </div>
}